@use 'base/variables' as v;
@use 'base/mixins' as m;

.auth {
    margin-top: 5rem !important;

    @include m.contenedor-sm();

    &__heading {
        text-align: center;
        font-weight: v.$bold;
    }

    &__texto {
        text-align: center;
    }
}