@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';


.blog {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include m.desktop {
        @include m.grid(2, 5rem);
    }
}

.entrada-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    .texto-entrada {

        h4 {
            margin-top: 0;

            &::after {
                content: '';
                display: block;
                width: 15rem;
                height: .5rem;
                background-color: v.$primario;
            }
        }

        a {
            text-transform: uppercase;
            font-weight: v.$black;
            color: v.$primario;
            transition: all 0.3s ease;

            &:hover {
                color: color.adjust(v.$primario, $lightness: -10%);
            }
        }

        @include m.tablet {
            margin-bottom: 0;
        }
    }

}