@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-marcas {
    padding: 4rem 0;
    text-align: center;

    h2 {
        span {
            color: v.$primario;
        }
    }

    .contenido-centrado {
        max-width: 120rem;
        margin: 0 auto;
    }
}

// Estilos de la cuadrícula de logos
.grid-marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.marca-row {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaciado pequeño entre las imágenes */
    width: 100%;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en filas si es necesario */
}

.marca {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    img {
        max-width: 12rem;  
        object-fit: contain;
        filter: grayscale(100%);
        mix-blend-mode: multiply;
    }
}