@use 'base/variables' as v;
@use 'base/mixins' as m;

.carrusel-logos {
    overflow: hidden;
    padding: 2rem 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    .logos-slide {
        margin-right: 10rem;
        display: flex;
        animation: 200s slide infinite linear;
        align-items: center;
        gap: 10rem;

        .logo-container {
            width: 20rem; // Tamaño uniforme
            height: 20rem; 
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; // Evita cortes
            border-radius: 10px; // Bordes redondeados opcionales
            background: #fff; // Fondo para contraste

            img {
                object-fit: cover; // Se mantiene el cover sin cortes visibles
            }
        }
    }

    &:hover {
        .logos-slide {
            animation-play-state: paused;
        }
    }

    &::before,
    &::after {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        width: 15rem;
        height: 100%;
    }

    &::before {
        left: 0;
        background: linear-gradient(to left, rgba(255,255,255,0), v.$blanco);
    }

    &::after {
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), v.$blanco);
    }
}


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}