@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-contacto {

    @include m.tablet {
        @include m.grid(2, 2rem);
        .informacion-contacto {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        
        img {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    img {
        margin-top: 5rem;

        @include m.tablet {
            margin: 0;
        }
    }
}

.informacion-contacto {
    h2 {
        margin-top: 0;
        text-align: center;

        @include m.tablet {
            text-align: left;
        }
    }
}