@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .inicio {
    background-image: url(../../../build/img/hero.png);
}

.webp .inicio {
    background-image: url(../../../build/img/hero.webp);
}


.hero {
    background-color: v.$negro;
    &.inicio {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 48rem;

        .contenido-header {
            min-height: 48rem;
        }
    }

    
}
.header {
    .contenido-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1, p {
            color: v.$blanco;
            text-align: left;
            max-width: 83rem;
            margin: 0;

            span {
                color: v.$primario;
            }
        }

        h1 {
            font-size: 4rem;
            line-height: 5rem;
            margin-bottom: 1.6rem;
        }

        p {
            margin-bottom: 3.2rem;
        }
    }
}


.boton-contenedor {
    display: flex;
    justify-content: flex-start; // Alinea el botón a la izquierda
}