@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .inicio {
    background-image: url(../../../build/img/hero.png);
}

.webp .inicio {
    background-image: url(../../../build/img/hero.webp);
}


.header {
    position: relative;
    width: 100%;

    .contenido-header {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1, p {
            color: v.$blanco;
            margin: 0;

            span {
                color: v.$primario;
            }
        }

        h1 {
            font-size: 4rem;
            line-height: 5rem;
            margin-bottom: 1.6rem;
        }

        p {
            margin-bottom: 3.2rem;
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.5rem;

            a {
                color: v.$blanco;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                width: 1.6rem;
            }
        }
    }
}


.boton-contenedor {
    display: flex;
    justify-content: flex-start; // Alinea el botón a la izquierda
}


.hero {
    margin-top: 0;
    padding-top: 10rem; /* Aseguramos espacio para la barra */
    background-color: v.$negro;
    
    &.inicio {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 48rem;

        .contenido-header {
            min-height: 48rem;
            text-align: left;

            h1, p {
                max-width: 83rem;
                margin: 0;
            }

            h1 {
                margin-bottom: 1.6rem;
            }
    
            p {
                margin-bottom: 3.2rem;
            }
        }
    }

    @include m.desktop {
        margin-top: 0;
    }
}