@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: v.$blanco;
    transition: transform 0.3s ease-in-out;

    &.hidden {
        transform: translateY(-100%);
    }

    display: grid;
    grid-template-areas: 'logo hamburguesa' 
                         'navegacion navegacion'
                         'buscar buscar';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    padding: 1.5rem;

    @include m.desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo,
        .buscar {
            margin: 0;
        }
    }

    .logo {
        grid-area: logo;
        height: 10rem;
        width: auto;
    }

    .hamburguesa {
        all: unset;
        grid-area: hamburguesa;
        font-size: 3.5rem;
        cursor: pointer;

        @include m.desktop {
            display: none;
        }
    }

    .buscar {
        grid-area: buscar;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        display: none;
        opacity: 0;
        visibility: hidden;
        max-height: 0;

        &.activo {
            display: flex;
            opacity: 1;
            visibility: visible;
            max-height: 35rem;
        }

        @include m.desktop {
            display: flex;
            opacity: 1;
            visibility: visible;
            max-height: none;
            width: auto;
            margin-top: 0;
        }

        input {
            width: 100%;
            background-color: v.$fondo;
            padding: 0.5rem;
            border: 1px solid v.$gris-claro;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            color: v.$gris-oscuro;
        }
    }
}

.navegacion {
    grid-area: navegacion;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.3s ease;

    &.activo {
        display: flex;
        opacity: 1;
        visibility: visible;
        max-height: 100rem;
    }

    @include m.desktop {
        width: auto;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        opacity: 1;
        visibility: visible;
        max-height: none;
    }

    a {
        width: 100%;
        border-bottom: 1px solid v.$gris-claro;
        padding: 1rem 0;
        color: v.$negro;
        transition: 0.3s ease all;

        @include m.desktop {
            width: auto;
            border: none;
            margin-bottom: 0;
        }

        &:hover {
            color: v.$primario;
        } 
    }

    /* Contenedor del Submenú */
    .submenu-contenedor {
        position: relative;
        width: 100%;

        .submenu-item {
            padding: 0;

            .submenu-toggle {

                a {
                    padding: 1.5rem 0;
                }
            }
        }

        .submenu-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            .submenu-btn, .subsubmenu-btn {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 0;

                i {
                    font-size: 1.2rem;
                    transition: transform 0.3s ease;

                    @include m.desktop {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .submenu {
            width: 100%;
            background-color: v.$blanco;
            padding: 0;
            margin: 0;
            list-style: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            transition: all 0.3s ease;

            li {
                position: relative;

                a {
                    display: block;
                    padding: 1rem;
                    color: v.$negro;
                    text-align: left;
                    transition: 0.3s ease all;

                    &:hover {
                        color: v.$primario;
                    }
                }

                .subsubmenu {
                    width: 100%;
                    background-color: v.$blanco;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                    transition: all 0.3s ease;

                    &-btn {
                        padding-right: 1rem;
                    }
                }

                &.activo .subsubmenu {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    max-height: 35rem;
                }
            }
        }

        &.activo .submenu {
            display: block;
            opacity: 1;
            visibility: visible;
            max-height: 35rem;
        }

        &.activo .submenu-btn i, .submenu-item.activo .subsubmenu-btn i {
            transform: rotate(90deg);
        }
    }
}