@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenido-nosotros {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
        text-align: center;
        margin-top: 0;
    }

    @include m.tablet {
        @include m.grid(2, 2.5rem);

        h2 {
            text-align: left;
        }
    }

    
}