@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.titulo-categorias {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include m.desktop {
        flex-direction: row;
        justify-content: center;
    }
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex-shrink: 0; /* Evita que la barra lateral se reduzca */
    order: 1;

    @include m.desktop {
        order: 0;
    }
    

    h2 {
        margin: 0;
    }

    nav {
        border: 1px solid v.$gris-claro;
        width: 100%;

        a {
            color: v.$negro;
            display: block;
            padding: 0.6rem 0;
            transition: 0.3s color;
            padding: 1rem;
            
            // Cambiar color del enlace cuando se haga hover
            &:hover {
                color: v.$primario;
            }
        }

        .lista {
            display: flex;
            flex-direction: column;
            padding: 0; 
            margin: 0; 
            width: 100%; 
            list-style: none;

            .lista-item {
                width: 100%;
                overflow: hidden;
            }

            .lista-boton {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid v.$gris-claro; // Borde inferior para cada categoría principal

                // Cambiar color del enlace e icono de flecha cuando esté activo
                &.activo {
                    a {
                        color: v.$primario;
                    }

                    img {
                        filter: invert(33%) sepia(100%) saturate(160%) hue-rotate(93deg); /* Cambiar color a verde */
                    }
                }

                // Cambiar color del enlace e icono de flecha cuando se haga hover
                a {
                    display: inline-block;
                    &:hover {
                        color: v.$primario;
                        text-decoration: underline;
                    }
                }

                // Cambiar color del enlace e icono de flecha cuando se haga hover
                img {
                    cursor: pointer;
                    &:hover {
                        filter: invert(33%) sepia(100%) saturate(160%) hue-rotate(93deg); /* Cambiar color a verde */
                    }
                }

                a {
                    font-weight: v.$bold;
                    text-transform: uppercase;
                    color: v.$negro;
                    text-decoration: none;
                }

                .lista-boton-clic {
                    height: 2rem;
                    width: 2rem;
                    transition: transform 0.3s;
                }

                .arrow {
                    transform: rotate(90deg);
                }
            }

            .lista-show {
                height: 0;
                padding-left: 0;
                transition: height 0.3s ease-out;

                li {
                    list-style: none;
                }

                a {
                    display: flex;
                    border-bottom: 1px solid v.$gris-claro; // Borde inferior para cada categoría principal
                    align-items: center;
                    font-weight: normal;
                    position: relative;

                    // Agregar el icono rectangular a la izquierda del enlace del submenu
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 1rem; 
                        height: 1rem; 
                        margin-right: 1rem; /* Separación entre el cuadro y el texto */
                        flex-shrink: 0;  // Evita que el cuadrado se deforme en tamaños pequeños
                        background-color: v.$gris-claro;
                        transition: background-color 0.3s;
                    }

                    &:hover {
                        &::before {
                            background-color: v.$primario;
                        }
                    }

                    // Cambiar color del cuadrado cuando esté activo
                    &.activo {
                        &::before {
                            background-color: v.$primario;
                        }
                    }
                }
            }
        }
    }
}



/* Ocultar la barra lateral en tablet y menor */
.barra-lateral {
    @include m.desktop {
        display: flex;
    }
}



.layout-productos {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%; // Asegura que no se extienda más allá del contenedor principal
    max-width: 1200px; // Igual que `.layout`

    .barra-superior {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 5.5rem;

        @include m.tablet {
            @include m.grid(2, 2rem); 
            align-items: center;
        }

        @include m.desktop {
            grid-template-columns: 1fr 2fr;
            column-gap: 5rem;
            align-items: center;
        }
        
        .filtros {
            grid-column: 1 / 2; // Asegura que los filtros ocupen la primera columna
            height: 3.5rem;
            display: flex;
            align-items: center;
            position: relative;
    
            select {
                color: #757575;
                width: 100%;
                padding: 0.5rem 0 0.5rem 3rem;
                font-size: 14px;
                border: 1px solid v.$gris-claro;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
    
            &::before {
                content: '';
                position: absolute;
                background: url(/src/img/icon_filter.svg) no-repeat;
                background-size: contain;
                height: 2rem;
                width: 2rem;
                left: 0.5rem; /* Coloca el icono dentro del espacio */
            }
        }

        .busqueda {
            grid-column: 2 / 4; // La búsqueda ocupa la segunda y tercera columna en pantallas grandes
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            border: 1px solid v.$gris-claro;
            padding: 0.5rem;

            input {
                flex: 1;
                width: 100%;
                border: none;
                font-size: 1.4rem;

                &:focus {
                    outline: none;
                }
            }

            button {
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;

                img {
                    height: 1.8rem;
                }
            }
        }
    }

    // CONTENEDOR PRODUCTOS (PAGINA PRODUCTOS)
    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @include m.tablet {
            @include m.grid(2, 5rem);
        }

        @include m.desktopS {
            @include m.grid(3, 5rem);
        }
    
        .producto {
            max-width: 30rem;
            justify-self: center; /* Centra cada producto en su celda */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 1px solid v.$gris-claro;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            position: relative;
        
            // Imagen del producto
            .imagen {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
        
                img {
                    max-width: 20rem;
                    height: 15rem;
                }

                // Nombre del producto
                h3 {
                    font-size: 2rem;
                    font-weight: v.$bold;
                    color: v.$negro;
                }
            
                // Línea divisoria
                .linea {
                    width: 10rem;
                    height: 2px;
                    background-color: v.$primario;
                    margin: 1.5rem auto;
                }
            }

            // Overlay con transición suave
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: color.change(v.$primario, $alpha: 0); // Inicia con 0 de opacidad
                z-index: 1;
                transition: background 0.2s linear;
            }

            &:hover {
                &::before {
                    background: color.change(v.$primario, $alpha: 0.3); // Aparece con opacidad 30%
                }
            }
        
            // Detalles del producto
            .detalles {
                background-color: color.adjust(v.$gris-claro, $lightness: 13%);
                @include m.grid(2, 5rem);
                padding: 1.5rem;
                
            }
        
            .detalle {
                font-size: 1.5rem;
        
                p {
                    margin: 1rem 0;
                }
        
                .detalle-titulo {
                    font-weight: v.$bold;
                    margin: 0;
                }
            }
        }        
    }
}



.contenedor-producto {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos bajen si es necesario
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .producto-imagenes {
        flex: 1;
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid v.$gris-claro;

        .contenedor-imagenes {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .imagen-principal {
            position: relative;
            width: 40rem; // Mantiene un ancho fijo
            height: 35rem; // Mantiene la altura constante
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem; /* Espaciado interno */

            img {
                width: 100%;
                max-width: 30rem;
                height: 100%;
                object-fit: contain;
            }

            .flecha {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.5);
                color: v.$blanco;
                border: none;
                font-size: 2rem;
                padding: 0.5rem 1rem;
                cursor: pointer;
                z-index: 1;
                border-radius: 5px;
            }

            .prev {
                left: 1rem;
            }

            .next {
                right: 1rem;
            }
        }

        .miniaturas {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            padding: 1rem;
            background: #fff;

            img {
                width: 8rem;
                height: 6rem;
                object-fit: contain;
                cursor: pointer;
                opacity: 0.6;
                transition: all 0.3 ease;
            }

            .miniatura.active {
                opacity: 1;
                border: 2px solid v.$primario;
            }

            img:hover {
                opacity: 1;
            }
        }
    }

    .producto-info {
        flex: 1;

        p {
            margin: 0;
            font-size: 1.6rem;
        }

        .titulo {
            margin-top: 0;
            margin-bottom: 1.5rem;
            font-size: 2.6rem;
        }

        .atributo {
            h4 {
                margin-bottom: 1.5rem;
                font-size: 2rem;
            }

            .valores {
                display: flex;
                justify-content: space-between;
            }

            img {
                width: 5rem;
                height: 5rem;
            }
        }
    }

    .contenedor-fichas {
        flex-basis: 100%; // Ocupa todo el ancho disponible

        h4 {
            margin-top: 0;
            font-size: 2rem;
        }

        .fichas {
            @include m.grid(2, auto);
            
            @include m.telefono {
                @include m.grid(3, auto);
            }

            @include m.tablet {
                @include m.grid(6, auto);
            }

            .ficha {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 3.5rem;
                    height: 100%;
                }

                &:hover {
                    p {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}